@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --fontePadrao: 'Roboto', 'sans-serif';
    --fonteTitulo: 'Merienda', 'cursive';

    --cor01:#FBF9DB;
    --cor02:#FAF6C5;
    --cor03:#94905A;
    --cor04:#615D28;
    --cor05:#33300B;
}
.navbar {
    background-color: var(--cor01);
}
.sessao-titulo,
.sessao-titulo:hover{
    font-family: var(--fonteTitulo);
    color: #33300B;
}
.sessao-padrao{
    font-family: var(--fontePadrao);
}
body {
    font-family: var(--fontePadrao);
}
.nav .nav-link {
    background-color: var(--cor01);
    color: var(--cor04);
}

.nav .nav-link.active {
    background-color: var(--cor03);
    color: #fff;
}
.navbar-toggler{
    background-color: var(--cor02);
}

.tamanho-carousel {
    max-width: 1920px;
    max-height: 720px;
}

#sobre-nos,
#ofertas {
    background-color: #fbf9db8c;
}
.full-price {
    color: red;
}
.discount {
    color: green;
}
.paragrafo-promocao {
    font-size: 15px;
    width: 70%;
}